@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:wght@400;500;600;800&display=swap');

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
::placeholder { 
    color: #fefefe;
    opacity: 1;
    text-align: center;
    
  }
  

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Merriweather Sans', sans-serif;
    background-image: linear-gradient(to bottom, rgba(219, 117, 21, 0.3), rgba(8, 17, 70, 0.8));
    
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 20px;
    
}
.search-bar{
    width: 100%;
    max-width: 300px;
    padding: 15px 10px;
    border-radius: 25px 5px 25px 5px;
    font-size: 2.5rem;
    background-color:rgba(8, 17, 70, 0.404);
    font-weight: 700;
    border: none;
    outline: none;
    color: #fefefe;
    text-align: center;
    border-bottom: solid 2px #262d43;
    text-transform: capitalize;
}

.search-bar:focus {
    background-color: #262d43;
  }

#display-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px 25px 50px;
}

#location{
    color: #262d43;
    margin-bottom: 10px;
}

#city{
    font-size: 4.5rem;
    margin-bottom: 15px;
    font-weight: 700;
    
    text-shadow: 1px 2px rgba(0, 0, 0, 0.4);
}

#day{
    font-size: 2.5rem;
    margin-bottom: 15px;
}

#weather{
    max-width: 100%;
}

#forcast{
    font-size:4.5rem;
    margin-bottom: 15px;
    font-weight: 700;
    color: #db7515b0;
}

#temperature{
    font-size: 7rem;
    font-weight: 800;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
    color: #262d43;
    margin-top: 10px;
    margin-bottom: 10px;
}

#temp-range{
    font-size: 3.5rem;
    font-family: 'Lato', sans-serif;
    color:  #db7515b0;
    font-weight: 700;
}

img{
    vertical-align: middle;
    border-style: none;
    width: -webkit-fill-available;
}